* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
} 

button{
    color: white;
    font-family: 'Geist', sans-serif;
}

img{
    display: block;
    width: 100%
}

#photo_circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    object-position: center;
    margin-left: 780px;
    margin-top: 30px;
}

.main_title{
    font-size: 70px;
    position: relative;
    top: -460px;
    left: 85px;
}

.caption_pt1
{
    font-size: 40px;
    position: relative;
    left: 85px;
    top: -500px;
    line-height: 1.5;
}

.caption_pt2
{
    font-size: 40px;
    position: relative;
    text-align: left;
    top: -580px;
    left: 85px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Geist', sans-serif;
    font-size: 30px;
  }

  #projTitle{
    margin-left: 80px;
    font-size: 70px;
  }

.navLinks{
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 50px;
    max-width: 100%; 
}

.download_resume{
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
    font-size: 35px;
    border-radius: 70px;
    position: relative;
    background-image: linear-gradient(to right, #e3345e, purple, blue);;
    font-weight: bold;
    left: 85px;
    top: -540px;
    border: none; 
}

h1, p{
    color: white;
    font-family: 'Geist', sans-serif;
}

h2 {
    color: white;
    font-family: 'Geist', sans-serif;
    margin-left: 80px;
    font-size: 30px;
}

.AboutLabel{
    font-size: 70px;
    position: relative;
    left: 140px;
}

.aboutDescription{
    position: relative;
    margin-left: 140px;
    max-width: 70%;
    font-size: 25px;
    line-height: 1.5;
}

.reachOut{
    position: relative;
    font-size: 60px;
    left: 80px;
    top: 20px;
}

.directTo{
    display: flex;
}

.emailLogo img, .linkedIn img, .GitHub img{
    position: relative;
    height: 80px;
    width: 250px;
    top: 50px;
}

.emailLogo img{left: 80px;}

.linkedIn img{left: 100px;}

.GitHub img{left: 120px;}

.resume{
    position: relative;
    font-size: 60px;
    left: 80px;
    top: 60px;
}

.rlogo{
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-size: 50px;
    position: relative;
    background: purple;
    font-weight: bold;
    top: 40px;
    left: 80px;
    border: none;
}
  .ODU{
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 3px; 
    text-decoration-thickness: 3.1px; 
  }

  .ODU:visited {
    text-decoration: underline; 
    font-size: 30px;
  }

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    color: cyan; 
    text-decoration: underline;
    text-underline-offset: 3px; 
    text-decoration-thickness: 3.1px;
  }