* {
    color: white;
    font-family: 'Geist', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
} 

#photo_circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 780px;
    margin-top: 30px;
    transform: translateY(35px);
}

img{
    display: block;
    width: 100%
}

.main_title{
    font-size: 70px;
    margin-top: -400px;
    margin-left: 85px;
}

.caption_pt1
{
    font-size: 40px;
    margin-left: 85px;
    margin-top: 10px;
}

.caption_pt2
{
    font-size: 40px;
    margin-top: -50px;
    margin-left: 85px;
}

a {
    text-decoration: none;
    font-size: 30px;
  }

  #projTitle{
    margin-left: 80px;
    margin-top: 60px;
    font-size: 70px;
  }

.navLinks{
    display: flex;
    flex-direction: row;
    gap: 120px;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 50px;
    max-width: 100%; 
}

.download_resume{
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
    font-size: 35px;
    border-radius: 70px;
    background-image: linear-gradient(to right, #e3345e, purple, blue);;
    font-weight: bold;
    margin-left: 85px;
    border: none; 
}

h2 {
    margin-left: 80px;
    font-size: 30px;
}

.AboutLabel{
    font-size: 70px;
    margin-left: 80px;
    margin-top: 60px;
}

.random{
    font-size: 50px;
    margin-left: 80px;
    margin-top: 70px;
}

.aboutDescription{
    position: relative;
    margin-left: 80px;
    max-width: 80%;
    font-size: 25px;
    line-height: 1.5;
}

.reachOut{
    font-size: 60px;
    margin-left: 80px;
    margin-top: 85px;
}

.directTo{
    display: flex;
}

.emailLogo img, .linkedIn img, .GitHub img{
    height: 80px;
    width: 250px;
    margin-top: 50px;
}

.emailLogo img{margin-left: 80px;}

.linkedIn img{margin-left: 50px;}

.GitHub img{margin-left: 50px;}

.resume{
    font-size: 60px;
    margin-left: 80px;
    margin-top: 60px;
}

.rlogo{
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-size: 50px;
    background: purple;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 80px;
    border: none;
}
  .ODU{
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 3px; 
    text-decoration-thickness: 3.1px; 
  }

  .ODU:visited {
    text-decoration: underline; 
    font-size: 30px;
  }

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    color: #76ace7; 
    text-decoration: underline;
    text-underline-offset: 3px; 
    text-decoration-thickness: 3.1px;
  }